<div>
  <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
</div>



<div class="row">
  <div class="col-md-3">
    <label > Building</label>
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Enclave</option>
      <option>Delta</option>
      <option>Hero Homes</option>
      <option>Alpha</option>
      <option>Riyo</option>
    </select>
  </div>
  <div class="col-md-3">

    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>First</option>
      <option>Second</option>
      <option>Third</option>
      <option>Fourth</option>
      <option>Fifth</option>
    </select>
  </div>
  <div class="col-md-3">

    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2   </option>
        <select class="form-control" >
          <option>ww</option>
        </select>
   
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="col-md-3">

    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Name</option>
      <option>Minium Price</option>
      <option>Bedroom</option>
      <option>Bathroom</option>
      <option>5</option>
    </select>
  </div>
  <div class="col-md-3">

    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="col-md-3">

    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="col-md-3">
   
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Configuration
      </button>
      <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
          <li class="dropdown-item"><a href="#"></a></li>
          <li class="dropdown-item"><a href="#">Some other action</a></li>
          <li class="dropdown-divider"></li>
          <li class="dropdown-submenu">
            <a  class="dropdown-item" tabindex="-1" href="#">Hover me for more options</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a tabindex="-1" href="#">Second level</a></li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">Even More..</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="#">3rd level</a></li>
                      <li class="dropdown-submenu"><a class="dropdown-item" href="#">another level</a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-item"><a href="#">4th level</a></li>
                          <li class="dropdown-item"><a href="#">4th level</a></li>
                          <li class="dropdown-item"><a href="#">4th level</a></li>
                      </ul>
                    </li>
                      <li class="dropdown-item"><a href="#">3rd level</a></li>
                </ul>
              </li>
              <li class="dropdown-item"><a href="#">Second level</a></li>
              <li class="dropdown-item"><a href="#">Second level</a></li>
            </ul>
          </li>
        </ul>
  </div>
  </div>
</div>
<div class="container">
  <div class="row">

     
  </div>
</div>

